<a href="https://colab.research.google.com/github/Gauravds435/colabtools/blob/master/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1import pandas as pd
movies = pd.read_table("http://bit.ly/imdbratings", sep=",")
movies.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
movies["duration"].min()

64

In [ ]:
movies["duration"].max()

242

In [ ]:
movies["duration"].mean()

120.97957099080695

In [ ]:
movies.loc[0:14, "title"]

0                              The Shawshank Redemption
1                                         The Godfather
2                                The Godfather: Part II
3                                       The Dark Knight
4                                          Pulp Fiction
5                                          12 Angry Men
6                        The Good, the Bad and the Ugly
7         The Lord of the Rings: The Return of the King
8                                      Schindler's List
9                                            Fight Club
10    The Lord of the Rings: The Fellowship of the Ring
11                                            Inception
12       Star Wars: Episode V - The Empire Strikes Back
13                                         Forrest Gump
14                The Lord of the Rings: The Two Towers
Name: title, dtype: object

In [ ]:
movies.loc[0:14, "title":"actors_list"]

                                                title  ...                                        actors_list
0                            The Shawshank Redemption  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1                                       The Godfather  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2                              The Godfather: Part II  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3                                     The Dark Knight  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4                                        Pulp Fiction  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
5                                        12 Angry Men  ...  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
6                      The Good, the Bad and the Ugly  ...  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
7       The Lord of the Rings: The Return of the King  ...  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
8                                    Schindler's List  ...  [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
9                                          Fight Club  ...  [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
10  The Lord of the Rings: The Fellowship of the Ring  ...  [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
11                                          Inception  ...  [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
12     Star Wars: Episode V - The Empire Strikes Back  ...  [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
13                                       Forrest Gump  ...    [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
14              The Lord of the Rings: The Two Towers  ...  [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...

[15 rows x 5 columns]

In [ ]:
movies.iloc[0:14, 0:4]

    star_rating  ...      genre
0           9.3  ...      Crime
1           9.2  ...      Crime
2           9.1  ...      Crime
3           9.0  ...     Action
4           8.9  ...      Crime
5           8.9  ...      Drama
6           8.9  ...    Western
7           8.9  ...  Adventure
8           8.9  ...  Biography
9           8.9  ...      Drama
10          8.8  ...  Adventure
11          8.8  ...     Action
12          8.8  ...     Action
13          8.8  ...      Drama

[14 rows x 4 columns]

In [ ]:
movies[movies["duration"]==movies["duration"]].max()

star_rating                                                  9.3
title                                                      [Rec]
genre                                                    Western
duration                                                     242
actors_list    [u'Zooey Deschanel', u'Joseph Gordon-Levitt', ...
dtype: object

In [ ]:
movies[movies["duration"]==movies["duration"]].max()["title"]

'[Rec]'

In [ ]:
movies.sort_values(by="duration", ascending=True)

     star_rating  ...                                        actors_list
389          8.0  ...  [u'Wallace Ford', u'Leila Hyams', u'Olga Bacla...
338          8.0  ...  [u'Aleksandr Antonov', u'Vladimir Barsky', u'G...
258          8.1  ...  [u'Werner Krauss', u'Conrad Veidt', u'Friedric...
293          8.1  ...    [u'Groucho Marx', u'Harpo Marx', u'Chico Marx']
88           8.4  ...  [u'Charles Chaplin', u'Edna Purviance', u'Jack...
..           ...  ...                                                ...
445          7.9  ...  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
142          8.3  ...  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
78           8.4  ...  [u'Robert De Niro', u'James Woods', u'Elizabet...
157          8.2  ...  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
476          7.8  ...  [u'Kenneth Branagh', u'Julie Christie', u'Dere...

[979 rows x 6 columns]

In [ ]:
movies.sort_values(by=["duration", "star_rating"], ascending=[False, True])

     star_rating  ...                                        actors_list
476          7.8  ...  [u'Kenneth Branagh', u'Julie Christie', u'Dere...
157          8.2  ...  [u'Clark Gable', u'Vivien Leigh', u'Thomas Mit...
78           8.4  ...  [u'Robert De Niro', u'James Woods', u'Elizabet...
142          8.3  ...  [u'Aamir Khan', u'Gracy Singh', u'Rachel Shell...
445          7.9  ...  [u'Charlton Heston', u'Yul Brynner', u'Anne Ba...
..           ...  ...                                                ...
293          8.1  ...    [u'Groucho Marx', u'Harpo Marx', u'Chico Marx']
88           8.4  ...  [u'Charles Chaplin', u'Edna Purviance', u'Jack...
258          8.1  ...  [u'Werner Krauss', u'Conrad Veidt', u'Friedric...
338          8.0  ...  [u'Aleksandr Antonov', u'Vladimir Barsky', u'G...
389          8.0  ...  [u'Wallace Ford', u'Leila Hyams', u'Olga Bacla...

[979 rows x 6 columns]

In [ ]:
movies.sort_values(by=["star_rating", "duration"], ascending=[False, True])

     star_rating  ...                                        actors_list
0            9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1            9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3            9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
5            8.9  ...  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
..           ...  ...                                                ...
935          7.4  ...  [u'Nigel Terry', u'Helen Mirren', u'Nicholas C...
964          7.4  ...  [u'Daniel Day-Lewis', u'Sally Field', u'David ...
955          7.4  ...  [u'Jessica Chastain', u'Joel Edgerton', u'Chri...
968          7.4  ...  [u'Ralph Fiennes', u'Juliette Binoche', u'Will...
941          7.4  ...  [u'Sean Connery', u"Ryan O'Neal", u'Michael Ca...

[979 rows x 6 columns]

In [ ]:
new={"Drama":0,"Comedy":1, "Action":2, "Crime":3, "Biography":4, "Adventure":5, "Animation":6, "Horror":7, "Mystery":8, "Western":9, "Sci-Fi":10,    
     "Thriller":11, "Film-Noir":12, "Family":13, "Fantasy":14, "History":15}
movies["genre"] = movies["genre"].map(new)
movies

     star_rating  ...                                        actors_list
0            9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1            9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3            9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4            8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
..           ...  ...                                                ...
974          7.4  ...  [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
975          7.4  ...  [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
976          7.4  ...  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
977          7.4  ...  [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
978          7.4  ...  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[979 rows x 6 columns]

In [ ]:
movies.groupby(by="content_rating")["duration"].describe()

                count        mean        std  ...    50%     75%    max
content_rating                                ...
APPROVED         47.0  113.914894  28.169387  ...  109.0  125.00  220.0
G                32.0  112.343750  41.232315  ...   96.0  112.00  238.0
GP                3.0  135.666667  41.137979  ...  144.0  158.00  172.0
NC-17             7.0  119.857143  34.604569  ...  106.0  134.50  179.0
NOT RATED        65.0  122.661538  28.446373  ...  118.0  141.00  189.0
PASSED            7.0  104.285714  32.458765  ...   98.0  104.50  172.0
PG              123.0  115.300813  25.558334  ...  112.0  125.50  224.0
PG-13           189.0  127.195767  25.545512  ...  126.0  139.00  242.0
R               460.0  122.163043  23.373764  ...  119.0  134.00  229.0
TV-MA             1.0  131.000000        NaN  ...  131.0  131.00  131.0
UNRATED          38.0  109.789474  29.819419  ...  106.0  124.25  207.0
X                 4.0  106.250000  23.300572  ...  102.5  118.75  136.0

[12 rows x 8 columns]

In [ ]:
pd.crosstab(movies["star_rating"], movies["genre"], normalize = True)

genre          Action  Adventure  Animation  ...    Sci-Fi  Thriller   Western
star_rating                                  ...
7.4          0.004086   0.007150   0.002043  ...  0.000000  0.000000  0.000000
7.5          0.010215   0.006129   0.004086  ...  0.000000  0.002043  0.000000
7.6          0.025536   0.006129   0.006129  ...  0.000000  0.001021  0.001021
7.7          0.018386   0.005107   0.008172  ...  0.001021  0.000000  0.000000
7.8          0.021450   0.009193   0.009193  ...  0.001021  0.001021  0.000000
7.9          0.011236   0.005107   0.006129  ...  0.001021  0.000000  0.001021
8.0          0.010215   0.012257   0.009193  ...  0.001021  0.001021  0.000000
8.1          0.012257   0.007150   0.004086  ...  0.000000  0.000000  0.002043
8.2          0.004086   0.002043   0.005107  ...  0.001021  0.000000  0.000000
8.3          0.007150   0.008172   0.003064  ...  0.000000  0.000000  0.002043
8.4          0.004086   0.003064   0.003064  ...  0.000000  0.000000  0.000000
8.5          0.003064   0.001021   0.002043  ...  0.000000  0.000000  0.001021
8.6          0.002043   0.000000   0.001021  ...  0.000000  0.000000  0.001021
8.7          0.002043   0.001021   0.000000  ...  0.000000  0.000000  0.000000
8.8          0.002043   0.002043   0.000000  ...  0.000000  0.000000  0.000000
8.9          0.000000   0.001021   0.000000  ...  0.000000  0.000000  0.001021
9.0          0.001021   0.000000   0.000000  ...  0.000000  0.000000  0.000000
9.1          0.000000   0.000000   0.000000  ...  0.000000  0.000000  0.000000
9.2          0.000000   0.000000   0.000000  ...  0.000000  0.000000  0.000000
9.3          0.000000   0.000000   0.000000  ...  0.000000  0.000000  0.000000

[20 rows x 16 columns]